<div class="col-sm-12">    
    <div class="">
         <h1>Details of a Single user</h1>
         <p>I am a post for this ID = <%= user.id %></p>
         <p>username: <%= user.username %></p>
         <p>first_name:  <%= user.first_name %></p>
         <a href="/blog/user/<%= user.id %>/update">Edit  User</a> | <a href="/blog/user/<%= user.id %>/delete">Delete User</a>
    </div>
</div>